.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-color-start);
    padding: 20px;
    color: var(--button-text-color);
}

.header nav {
    flex: 1;
    text-align: center;
}

.header nav a {
    color: var(--button-text-color);
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 10px;
}

.