.character-detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end));
    min-height: 100vh;
}

.character-detail-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    margin: 20px;
    position: relative;
}

.character-detail-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: linear-gradient(90deg, var(--accent-color-start), var(--accent-color-end));
    border-radius: 15px 15px 0 0;
}

.character-detail-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.character-image {
    width: 100%;
    border-bottom: 4px solid var(--accent-color-end);
    margin-bottom: 20px;
    border-radius: 15px;
}

.character-info {
    text-align: center;
    padding: 0 10px;
}

.character-info h1 {
    margin-bottom: 10px;
    font-size: 1.8em;
    font-weight: bold;
    color: #333
}

.character-info p {
    margin: 5px 0;
    font-size: 1em;
    font-weight: 500;
    color: #333
}

.character-info p strong {
    color: var(--accent-color-start);
}

.error-message {
    color: var(--error-color);
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}