.character-details {
    padding: 20px;
    text-align: center;
  }
  
  .character-details img {
    max-width: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
  }
  
  .character-details h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .character-details p {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }